/*CSS styles for the HTML5 elements
***************************************************************************************************
        Title: Mindy James Program Portfolio Style Sheet
        Use: Style sheet on site to organize program artifacts to display competencies for degree review
        Author: Mindy James
        School/Term: University of Missori-Columbia, Summer 2020
        Developed: July 1, 2020
        Tested: July 12, 2020
****************************************************************************************************
*/

* {
    padding: 0;
    margin: 0;
}

* {
 font-family: 'Open Sans', "arial", sans-serif;
}

body {
    background-image:     url("../islt_7310/images/light_gray_gradient.png");
    background-size: 100%;
    max-width: 1600px;
}

.header { 
    background-image: url("../islt_7310/images/mosaic_blue_purple_ribbon_85opacity.png");
    height: 210px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
    
.header h1 {
    color: #534E52;
    font-size: 275%;
    font-family: 'Raleway', "arial", sans-serif;
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 5%;
}/*purple taupe*/
    
.header p {
    color: #534E52;
    font-size: 125%;
    font-family: 'Raleway', "arial", sans-serif;
    margin: 0 auto;
    padding-top: .75%;
    padding-left: 5%;
} /*purple taupe*/

h3 {
    color: #3A5B6E;
}/*dark teal*/

h3 {
    font-size: 200%;
    font-family: 'Raleway', "arial", sans-serif;
}

/***************************************** Home Page Style ****************************************/
#container_home {
    max-width: 90%;
    padding: 0 2em;
    margin: 0 auto;
}

#main_home {
    width: 70%;
    padding-top: 1em;
    margin: 0 auto;
    float: right;
}

#profile_picture {
    float: left;
    min-height: 200px;
    max-width: 100%;
    margin-top: 3em;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    border-radius: 5px;
}

#welcome {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0;
    margin-left: 1em;
    padding-top: 1.5em;
}

#vision {
    clear: both;
    padding-top: 1.5em;
    margin: 0 1em;
}

#positions_summary {
    clear: both;
    padding-top: 1em;
    margin: 0 1em;
}

.home_paragraph {
    list-style: none;
    font-size: 100%;
    padding-bottom: 1.5em;
    line-height: 1.5em;
    margin: 0 2em;
    color: #2c3840;   
}

#positions_list {
    list-style: none;
    padding-left: 15%;
    font-size: 90%;
    line-height: 1.75
    
}

#aside_home {
    background-color: #e5e0da;
    width: 20%;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left:2%;
    margin-top: 3%;
    vertical-align: middle;
    float: left;
    border: 2px solid #3A5B6E;
    border-radius: 5px;
    font-size: 90%;
}

#education {
    padding-top: 2em;
    padding-right: 1.75em;
    font-size: 150%;
}

#certification {
    padding-top: 1em;
    padding-right: 1.75em;
    font-size: 150%;
}

#skills_summary {
    padding-top: 1em;
    padding-right: 1.75em;
    font-size: 150%;
}

.aside_list {
    list-style: none;
    font-size: 100%;
    padding-right: 1.75em;
    padding-bottom: 1.5em;
    line-height: 1.25em;
    color: #2c3840;
}

.current {
    color: #936d73;
}/*taupe wine for current education and job on home page*/

blockquote {
    width: 65%;
    margin: 0 auto;
    padding-top: 6%;
    padding-right: 20%;
    padding-bottom: 3%;
    padding-left: 20%;
    clear: both;
    font-size: 120%;
    font-family:'Bad Script', cursive;
    line-height: 1.15em;
    color: #534E52;
} 

@media only screen and (max-width: 640px) {
    #container {
        clear:both;
        display: block;
        width: 100%;
        padding: 0 10%;
        margin: 0 auto;
        font-size: 75%;
        line-height: .75em;
}
    
    #profile_picture {
        float: left;
        width: 100%;
        max-width: 200px;
        height: auto;
}
    
    #main_home {
        width: 95%;
        margin: 0 auto;
    }
        
    home_paragraph {
        padding-right: 1%;    
}  
    
    #welcome {
        padding-top: 2%;
        padding-right: 2%;
}
  
    #aside_home {
       width: 95%;
    }
      
    blockquote {
        width: 50%;
        padding-right: 20%;
}
    footer {
        width: auto;
        margin: 0 auto;
    }
} /*end media query*/


/**************************************** Resume Page Style ***************************************/

#resume_heading {
    padding: 25px 100px 15px 300px;
    margin: 0;
}

#resume_body {
    padding: 25px 100px 15px 300px;
    margin: 0;
}



/************************************** Reflection Page Style *************************************/

#reflection_main {
    padding: 0px 25% 25px 25px;
    margin: 0px 15px 15px 15px;
    /*padding: 25px 100px 15px 300px;
    margin: 0;*/
}

#reflection_experience::first-letter {
    font-size: 250%;
    color: #ffffe6;
    font-weight: bold;
}

#reflection_expectations::first-line {
    text-indent: 2em;
}


/******************************************** Footer Style ****************************************/
footer {
    clear: both;
}

footer {
    border-top: 2px solid #333333;
    padding: 10px;
    margin-top: 20px;
} /*dark gray*/

footer {
    font-size: 70%;
}

footer a:link {
    color: #000099;
} /*dark blue*/

footer a:hover {
    color: #cc99cc;
} /*light purple*/

footer a:focus {
    color: #cc0000;
} /*dark red*/

footer a:visited {
    color: #cc00cc;
} /*bright purple*/

footer a:active {
    color: #cc0000;
} /*dark red*/

footer a {
    text-decoration: none; 
    font-family: "arial", "calibri", sans-serif;
    }